body {
    background-color: aliceblue;
}

#about-box {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#tech-box {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.tect-label {
    color: black;
}

#language-list {
    display: inline;
}

#language-list li {
    margin: 1em 0;
    display: inline;
}

#tech-list {
    display: inline;
}

#tech-list li {
    display: inline;
}

#experience-box {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

#project-box {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}
