body {
    background-color: rgb(186, 255, 190);
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
}

/* about me */
#about-box, 
#tech-box, 
#experience-box, 
#project-box {
    margin-bottom: 1rem;
    width: 100%;
    padding: 1.5rem;
    background-color: white;
    border: 2px;
    border-color: black;
}

.about-me-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.about-me-image img {
    border-radius: 15%;
}

.about-me-text p {
    color: #333;
    margin: 0;
}


/* tech stack */

.tect-label {
    color: black;
}

#language-list {
    display: inline;
}

#language-list li {
    margin: 10px;
    display: inline;
}

#tech-list {
    display: inline;
}

#tech-list li {
    display: inline;
}

/* experiences and academia */


/* projects */

